<div>
  <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
  <ul id="upBar">
    <li id="signIn"><a class="gb_Qf gb_Ha gb_Eb"  id="signInText" href="signIn.html" target="_top">Sign in</a>   </li>
    <li id="menu"><a class="gb_b gb_cc" href="menu.hrml" title="Google apps" aria-expanded="false" role="button" tabindex="0"></a>    </li>
    <li id="images"><a href="images.html">Images</a></li>
    <li id="gmail"><a href="gmail.html">Gmail</a></li>
  </ul>

    <img src="../assets/googlelogo.png" />
    <button id="googleSearch">Google Search</button>
    <button id="luckyButton">I'm Feeling Lucky</button>
    <input id="searchBar"/>
    <ul id="downBar">
    <li id="advertising"><a id="advertisingText" href="advertising.html" target="_top">Advertising</a>   </li>
    <li id="business"><a  href="business.html" title="Google apps" aria-expanded="false" role="button" tabindex="0">Business</a>    </li>
    <li id="about"><a href="about.html">About</a></li>



    <li id="useGoogle.com"><a href="useGoogle.html">Use Google.com</a></li>
    <li id="privacy"><a href="privacy.html">Privacy</a></li>
    <li id="terms"><a href="terms.html">Terms</a></li>
    <li id="setting"><a href="setting.html">Settings</a></li>
  </ul>
</div>
